.taskCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 220px;

  padding: 1.5rem;

  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 12px;

  transition: .3s;
}

.taskCard:hover {
  transform: translateY(-4px);
  border-color: var(--primary);
}

.taskCard h3 {
  color: var(--text);
  margin-bottom: .8rem;
}

.Escola {
  width: fit-content;

  padding: .3rem .8rem;

  border-radius: 999px;

  background: rgba(0, 255, 68, 0.15);
  color: white;

  font-size: .8rem;
}
.Trabalho {
  width: fit-content;

  padding: .3rem .8rem;

  border-radius: 999px;

  background: rgba(28, 6, 232, 0.15);
  color: white;

  font-size: .8rem;
}
.Casa {
  width: fit-content;

  padding: .3rem .8rem;

  border-radius: 999px;

  background: rgba(242, 255, 1, 0.592);
  color: white;

  font-size: .8rem;
}
.Outros {
  width: fit-content;

  padding: .3rem .8rem;

  border-radius: 999px;

  background: rgba(220, 113, 5, 0.459);
  color: white;

  font-size: .8rem;
}

.taskCard p {
  margin: 1rem 0;

  color: var(--text-secondary);

  flex: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.btn_concluir{
    color: white;
    background-color: #389a2c;
    padding: 10px;
    border-radius: 20px;
    transition: color 0.5s;

}
.btn_concluir:hover{
    background-color: #72cf5f;
}
.btn_excluir{
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    transition: color 0.5s ease-in;

}
.btn_excluir:hover{
    background-color: rgb(75, 19, 19);
}